@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
--cornflower-blue: #3454D1;
--baby-blue-eyes: #abd2faff;
--y-in-mn-blue: #3d518cff;
--polished-lilac: #BE95C4;
--russian-violet: #380036ff;
--purple-navy:#5E548E;
}


html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins',sans-serif;
    transition: .4s;
    margin: 0%;
    padding: 0%;
}
a{
    text-decoration: none;
}
ul{

    list-style-type: none;
}
img {
    max-width: 100%;
    height: auto;
  }
.container{
    background-color:var(--y-in-mn-blue);
}
.navbar{
display:flex;
overflow: hidden;
align-items: center;
font-size: medium;
}
.navbar-brand{
    margin-right:5px;
    font-size: large;
    padding: 2px 0 0 15px;
}
.navbar-menu{
    margin-left: auto;
}
.navbar-item {
padding:15px;
text-decoration: none;
color: #fff;
}
.navbar .icon{
    display: none;
}
/*----  service section      -----*/
section{
    padding: 1rem 0 6rem;
}
.service_container{
    padding: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    gap: 1rem;
}
.Title{
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 1rem;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;

}
.sub_title{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.grid{
    display: grid;
}
.service_card{
    background-color: var(--purple-navy);
    padding: 2rem 1.5rem 1.5rem;
    border-radius: 1rem;
}
.service_title{
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #f1f1f1;
}
.service_btn{
    color: var(--baby-blue-eyes);
    font-size: .813rem;
    display: flex;
    align-items: center;
    column-gap: .25rem;
    cursor: pointer;
}
.service_btn:hover .service_icon{
    transform: translateX(.25rem);

}
.service_icon{
    font-size: 1rem;
    transition: .4s;
}
.service_model{
position: fixed;
inset: 0;
background-color:#8e8caa;
padding: 2rem 1rem;
display: grid;
place-items: center;
visibility: hidden;
opacity:0;
transition: .4s;
z-index: 100;
}

.service_img{
    border-radius: 1.5rem;
}

.service_model-content{
    position: relative;
    background-color: var(--purple-navy);
    padding: 4.5rem 1.5rem 2.5rem;
    border-radius: 1.5rem;
}
.service_model-title,
.service_model-description{
    text-align: center;
}
.service_model-title{
    font-size: 1rem;
    color: #abd2fa;
    margin-bottom: 1rem;
}
.service_model-description{
    font-size: .813rem;
    margin-bottom: 2rem;
}
.service_model-list{
    display: grid;
    row-gap: .75rem;
}
.service_model-item{
    display: flex;
    align-items: flex-start;
    column-gap: .5rem;
    align-items: center;
}
.service_model-icon{
    font-size: 1.5rem;
    color: #abd2fa;
}
.service_model-info{
    font-size: .813rem;
}
.service_model-close{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: rgb(20, 2, 48);
    cursor: pointer;
}
.active-model{
    opacity: 1;
    visibility: visible;
}


/*------  Trends section  -----*/
.trends_container{
    padding-top: 1rem;
    grid-template-columns:2fr 2fr;
    gap: 1rem;
    margin: 1rem;
}

.trends_filters{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .75rem;
    margin-bottom: 2rem;
}
.trends_item{
    cursor: pointer;
    color:#7971ec ;
    padding: .25rem .75rem;
    font-weight: 500;
    border-radius: .5rem;
}
.trends_card{
    color: #fff;
    background-color:#fff;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
}
canvas{
    color: #fff;
    position: relative;
    width: 20%;
    padding: 10px;

}

.active-trends{
    background-color: var(--polished-lilac);
    color: var(--russian-violet);
}

/*---------   footer  ---------*/
.footer{
    background-color: #f8f8fc;
}
.footer_container{
    padding-top: 40px;
    padding-bottom: 40px;
    margin-right: 40px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.footer_title_copy{
    display: block;
    color: #abb2bf;
}

.footer_link{
    color: #abb2bf;
    text-align: center;
}
.footer_list{
    display: flex;
    float: right;
    column-gap: 1.5rem;
    margin-bottom: 2rem;
}
.footer_social{
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
    
}
.footer_social-link{
    color: #abd2fa;
    padding: .5rem;
    border-radius: .25rem;
    font-size: 2rem;
    display: inline-flex;
}
.footer_copy{
    color: #abb2bf;
    font-size: small;
}

/*---   Mobile View   ------*/
@media only screen and (max-width: 600px) {
    .navbar a{display: none;}
    .navbar a.icon{
        float: right;
        margin: 10px;
        color: #fff;
        display: block;
    }
    .navbar.responsive {position: relative;
    display: grid;}
    .navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar .responsive a {
      display: block;
      justify-content: center;
      align-items: center;
      color: black;
      float: inline-start;
    }
    .trends_filters{
        overflow: scroll;
    }
    .footer_container{
        padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
    }
    .trends_card{
        width: 95%;
        display: flex;
    }
    .trends_container{
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        margin: auto;
        justify-content: center;
        
    }
}